.pure-form {
  margin: 10px 25px;
  max-width: 980px;
}

.pure-group {
  position: relative;
}

.pure-group .pure-input-1-1 {
  margin-top: 25px !important;
  width: 100%;
}

.hidden {
  display: none;
}

textarea {
  width: 100%;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  font-family: monospace;
  font-size: 11px;
}